@model ScopeInputModel
@{
    ViewData["Title"] = "Edit Scope";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Scopes</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@ViewBag.Scope.Id">@Model.Name</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <a asp-action="Delete" asp-route-id="@ViewBag.Scope.Id" class="btn btn-outline-danger btn-sm">
                <i class="bi bi-trash-fill"></i>
            </a>
        </li>
    </ol>
</nav>

<div class="row g-2">
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-header">Basic Info</div>
            <div class="card-body">
                <form method="post">
                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control" placeholder="Name" required>
                        <label asp-for="Name"></label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="DisplayName" class="form-control" placeholder="Display Name">
                        <label asp-for="DisplayName"></label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 100px"></textarea>
                        <label asp-for="Description"></label>
                    </div>
                    <a class="btn btn-outline-secondary me-2" asp-action="View" asp-route-id="@ViewBag.Scope.Id"><i class="bi bi-x-lg"></i></a>
                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-check-lg"></i></button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header">Associated Claims</div>
            <div class="card-body">
                <form action="../AddClaim" method="post">
                    <table class="table">
                        <tbody>
                            @foreach (var claim in ViewBag.Claims)
                            {
                                <tr>
                                    <td>@claim</td>
                                    <td>
                                        <a asp-action="RemoveClaim" asp-route-scopeId="@ViewBag.Scope.Id" asp-route-claim="@claim"
                                       class="delete btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td><input name="claim" type="text" class="form-control" /></td>
                                <td>
                                    <input type="hidden" name="scopeId" value="@ViewBag.Scope.Id" />
                                    <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header">Resources</div>
            <div class="card-body">
                <form action="../AddResource" method="post">
                    <table class="table">
                        <tbody>
                            @foreach (var resource in ViewBag.Descriptor.Resources)
                            {
                                <tr>
                                    <td>@resource</td>
                                    <td>
                                        <a asp-action="RemoveResource" asp-route-scopeId="@ViewBag.Scope.Id"
                                       asp-route-resource="@resource" class="delete btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>


                                </tr>
                            }
                            <tr>
                                <td><input name="resource" type="text" class="form-control" /></td>
                                <td>
                                    <input type="hidden" name="scopeId" value="@ViewBag.Scope.Id" />
                                    <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
