@model OpenIddictEntityFrameworkCoreScope
@{
    ViewData["Title"] = "View Scope";
    var IsNotStandardScope = !AisConstants.StandardScopes.Contains(Model.Name);
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Scopes</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Name</li>
        @if (IsNotStandardScope)
        {
            <li><a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Edit</a></li>
        }
    </ol>
</nav>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">Basic Info</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <span class="form-control">@Model.Name</span>
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <span class="form-control">@Model.DisplayName</span>
                            <label>Display Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <div class="form-control" style="height: 100px">@Model.Description</div>
                            <label>Description</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">Associated Claims</div>
            <div class="card-body">
                <form action="../AddClaim" method="post">
                    <table class="table">
                        <tbody>
                            @foreach (var claim in ViewBag.Claims)
                            {
                                <tr>
                                    <td>@claim</td>
                                    @if (IsNotStandardScope)
                                    {
                                        <td>
                                            <a asp-action="RemoveClaim" asp-route-scopeId="@Model.Id" asp-route-claim="@claim"
                                       class="delete btn btn-danger btn-sm">
                                                Remove
                                            </a>
                                        </td>
                                    }

                                </tr>
                            }
                            @if (IsNotStandardScope)
                            {
                                <tr>
                                    <td><input name="claim" type="text" class="form-control" /></td>
                                    <td>
                                        <input type="hidden" name="scopeId" value="@Model.Id" />
                                        <button class="btn btn-primary btn-sm">Add</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
