@model OpenIddictScopeDescriptor
@{
    ViewData["Title"] = "View Scope";
    var IsNotStandardScope = !AisConstants.StandardScopes.Contains(Model.Name);
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Scopes</a></li>
        <li class="breadcrumb-item active me-auto">@Model.Name</li>
        @if (IsNotStandardScope)
        {
            <li>
                <a asp-action="Edit" asp-route-id="@ViewBag.Scope.Id" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<div class="row g-2">
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-header">Basic Info</div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <span class="form-control">@Model.Name</span>
                    <label>Name</label>
                </div>
                <div class="form-floating mb-3">
                    <span class="form-control">@Model.DisplayName</span>
                    <label>Display Name</label>
                </div>
                <div class="form-floating mb-3">
                    <div class="form-control" style="min-height: 100px">@Model.Description</div>
                    <label>Description</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header">Claims</div>
            <div class="card-body">
                <form action="../AddClaim" method="post">
                    <table class="table">
                        <tbody>
                            @foreach (var claim in ViewBag.Claims)
                            {
                                <tr>
                                    <td>@claim</td>
                                    @if (IsNotStandardScope)
                                    {
                                        <td>
                                            <a asp-action="RemoveClaim" asp-route-scopeId="@ViewBag.Scope.Id"
                                       asp-route-claim="@claim" class="delete btn btn-outline-danger btn-sm">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>
                                    }

                                </tr>
                            }
                            @if (IsNotStandardScope)
                            {
                                <tr>
                                    <td><input name="claim" type="text" class="form-control" /></td>
                                    <td>
                                        <input type="hidden" name="scopeId" value="@ViewBag.Scope.Id" />
                                        <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    @if (IsNotStandardScope)
    {
        <div class="col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-header">Resources</div>
                <div class="card-body">
                    <form action="../AddResource" method="post">
                        <table class="table">
                            <tbody>
                                @foreach (var resource in Model.Resources)
                                {
                                    <tr>
                                        <td>@resource</td>
                                        <td>
                                            <a asp-action="RemoveResource" asp-route-scopeId="@ViewBag.Scope.Id"
                                       asp-route-resource="@resource" class="delete btn btn-outline-danger btn-sm">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>


                                    </tr>
                                }
                                <tr>
                                    <td><input name="resource" type="text" class="form-control" /></td>
                                    <td>
                                        <input type="hidden" name="scopeId" value="@ViewBag.Scope.Id" />
                                        <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
