@using static OpenIddict.Abstractions.OpenIddictConstants
@model EditUserInputModel
@{
    ViewData["Title"] = "Edit User";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.Id">@Model.FullName</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        @if (User.FindFirst(Claims.Subject).Value != Model.Id)
        {
            <li><button id="delete" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash-fill"></i></button></li>
        }
    </ol>
</nav>

<div class="row">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">Account</div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="FirstName" class="form-control" placeholder="First Name" required>
                                <label asp-for="FirstName"></label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="LastName" class="form-control" placeholder="Last Name" required>
                                <label asp-for="LastName"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="ScreenName" class="form-control" placeholder="Screen Name" required>
                                <label asp-for="ScreenName"></label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" disabled>
                                <label asp-for="Email"></label>
                            </div>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <div class="form-check form-switch">
                                <input asp-for="EmailConfirmed" class="form-check-input" role="switch">
                                <label asp-for="EmailConfirmed" class="form-check-label"></label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="NewPassword" class="form-control">
                                <label asp-for="NewPassword"></label>
                                <div class="form-text">
                                    Leave password field empty if you do not want to change password.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="ConfirmNewPassword" class="form-control">
                                <label asp-for="ConfirmNewPassword"></label>
                                <div class="form-text">
                                    Passwords must be at least 8 characters long, and contain at least one uppercase character,
                                    one lowercase character, a digit, and a non-alphanumeric character.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-secondary me-2" asp-action="View" asp-route-id="@Model.Id"><i class="bi bi-x-lg"></i></a>
                            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-check-lg"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">Claims</div>
            <div class="card-body">
                <form action="../AddClaim" method="post">
                    <table class="table">
                        <tbody>
                            @foreach (var claim in ViewBag.Claims)
                            {
                                <tr>
                                    <th>@claim.Type</th>
                                    <td>@claim.Value</td>
                                    <td>
                                        <a asp-action="RemoveClaim" asp-route-userId="@Model.Id"
                                       asp-route-claimType="@claim.Type" asp-route-claimValue="@claim.Value"
                                       class="delete btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td><input name="claimType" type="text" class="form-control" required /></td>
                                <td><input name="claimValue" type="text" class="form-control" required /></td>
                                <td>
                                    <input type="hidden" name="userId" value="@Model.Id" />
                                    <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#delete").click(function () {
                if (confirm("Are you sure you want to delete this user?")) {
                    window.location.href = "../Delete/@Model.Id";
                }
            });
        });
    </script>
}